.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-title {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.date,
.desc,
.gpa {
  color: #737373;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}
.company {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.title {
  color: #f28c28;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  padding-top: 30px;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  display: flex;
  position: relative;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5em;
}

.left-side,
.right-side {
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
}

.left-side {
  height: 30%;
  width: 40%;
  min-width: 200px;
  float: left;
  padding: 20px;
}
.right-side {
  width: 75%;
  float: left;
  padding: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  transform: translateX(-50%);
  left: 36%;
  background-color: black;
  margin: 10px;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
  transform: translate(-50%, 110%);
  left: 37%;
  transition: 0.3s;
}
.timeline ul li:hover:after {
  background-color: #f28c28;
}

.ext-link {
  text-decoration: none;
  color: white;
}

/* 
Solution for smaller screens 
*/
@media (max-width: 950px) {
  .timeline::before,
  .timeline ul li::after {
    width: 0px;
    height: 0px;
  }
}

/*
Solution for mobile devices
*/
@media (max-width: 750px) {
  .right-side {
    display: none;
  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 47%;
    background-color: black;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 1.4em;
  }
  .position-title {
    font-size: 1em;
    text-align: center;
  }
  .date {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
  }
}
