.NavbarItems {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 1em;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
}

.nav-links {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.4s;
  font-family: "Mukta", sans-serif;
}
.nav-links:hover {
  color: #fd5e53;
}
