.NavbarItems {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 1em;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
}
.fa-bars {
  color: white;
}
.fa-times {
  color: #fd5e53;
}
.menu-icon {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.nav-links {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.4s;
  font-family: "Mukta", sans-serif;
}
.nav-links:hover {
  color: #fd5e53;
}
.nav-li {
  display: flex;
  justify-content: center;
}

@media (max-width: 740px) {
  .NavbarItems {
    position: relative;
  }

  .nav-links {
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
    transition: 0.4s;
    font-family: "Mukta", sans-serif;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #808080;
    left: 0;
    opacity: 0.95;
    transition: all 0.5s ease;
    z-index: 1;
    letter-spacing: 2px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
  }
}
